.game__title{
    text-align: center;
    font-size: 2rem;
    margin: auto;
}
.main__container{
    width: 100vw;
    min-width: 300px;
    max-width: 3000px;
    height: 70vh;
    min-height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images__container{
    width: 90vw;
    min-width: 270px;
    max-width: 1500px;
    height: calc(width*2);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.display__container{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}
.estilo-imagen{
    width: 70%;
    min-width: 150px;
    max-width: 500px;
    height: calc(width*2);
    margin: auto;
}
.ok_words_box{
    height: 1.5rem;
    border: solid lawngreen;
    margin: auto;
    text-transform: uppercase;
}
.word{
    color: lawngreen;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: auto;
    text-align: center;

}
.word_builder{
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}
.failed_words_container{
    color: red;
    font-size: 1.2rem;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}
.failed_words_box{
    height: 1.5rem;
    border: solid red;
    margin: auto;
    text-transform: uppercase;
}
.interface_container{
    width: 50%;
    min-width: 150px;
    max-width: 500px;
    height: calc(width*2);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general_word_container{
    margin: 0.2rem auto;
}
.notification{
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
}
.form-control{
    background-color: transparent;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-transform: uppercase;
}
.form-control:hover{
    background-color: violet;
    border-color: blueviolet;
    color: white;
}
.form-control:focus{
    border-color: blueviolet;
}
.btn{
    width: 10vw;
    min-width: 100px;
    max-width: 200px;
    font-size: 1rem;
    border-radius: 25px;
}
.btn:hover{
    background-color: darkorchid;
    color: white;
    border-color: transparent;
}
.btn:active{
    background-color: blueviolet;
}
.modal_fade{
    width: 20vw;
    min-width: 100px;
    max-width: 200px;
    text-align: center;
    border: solid  blueviolet;
    border-radius: 25px;
    display: flex;
    margin: auto;
}
.developer{
    width: 100vw;
    min-width: 300px;
    max-width: 3000px;
    height: auto;
    min-height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.developer_container{
    width: 20%;
    min-width: fit-content;
    max-width: 250px;
    height: 1.5rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.one{
    width: 1rem;
    min-width: 30px;
    max-width: 60px;
    height: calc(width*1);

}
.one:hover{
    background-color: violet;
    border-radius: 50%;
    border: solid blueviolet;
    padding: 0.2rem;
    width: 2rem;
    transition: 1s;
    display: block;
}
.developer_rights{
    width: 100vw;
    min-width: 300px;
    max-width: 3000px;
    margin: auto;
}
.dev{
    text-align: center;
    font-size: 1rem;
    color: silver;
    font-weight: 500;
}
/*last feature*/
.msg_container{
    width: 100%;
    min-width: 300px;
    max-width: 1000px;
    height: auto;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(4, 4, 4, 0.700);
}
.msg{
    color: white;
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: space-evenly;
}
.msg>a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid 0.1rem white;
    padding: 5px;
}
.msg>a:hover{
    background-color: white;
    color: black;
    transition: ease-in-out 1s;
}
.advertise{
    text-decoration: none;
    color: white;
}
.advertise:hover{
    color: yellowgreen;
    transition:ease-in-out 1s;
}
